<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/custom.form.css">
</head>
<body>
<div class="panel panel-default operation" hidden>
    <div class="panel-heading title"></div>
    <div class="layui-card-body">
        <form class="layui-form " action="" lay-filter="info" style="width: 700px;margin-top: 10px">
            <input name="id" hidden/>
            <div class="layui-form-item">
                <label class="layui-form-label">任务类型</label>
                <div class="layui-input-block">
                    <select id="type" name="type" lay-filter="select-type"
                            th:with="type=${@sysDictService.getType('mission_type')}">
                        <!--<option value="0">请选择</option>-->
                        <option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">商品链接</label>
                <div class="layui-input-block">
                    <input type="productUrl" name="productUrl" placeholder="请输入商品链接" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">购买数量</label>
                <div class="layui-input-block">
                    <input type="amount" name="amount" placeholder="请输入购买数量" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">刷单备注</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入对于刷单的要求" class="layui-textarea" name="customerCondition"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
                    <button class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="table_div">
    <div id="searchParam" shiro:hasPermission="mission:list">
        <div class="layui-form-item">
            <!--<div class="layui-input-inline">
                <input type="text" id="key" class="layui-input" autocomplete="off" placeholder="请输入">
            </div>-->

            <div class="layui-input-inline ">
                <!--<button class="layui-btn" onclick="search()" id="search">查询</button>-->
                <button class="layui-btn" id="export">导出全部</button>
            </div>
        </div>

    </div>
    <table class="layui-table" id="showTable" lay-filter="showTable"></table>
</div>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add" shiro:hasPermission="mission:add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="batchDeleted" shiro:hasPermission="mission:delete">删除</button>
    </div>
</script>
<script type="text/html" id="tool">
    {{#  if(d.status == 1){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="cancel" >取消</a>
    {{#  } }}
    {{#  if(d.status == 1){ }}
    <a class="layui-btn layui-btn-sm layui-btn-xs" lay-event="pass" >通过</a>
    {{#  } }}
    {{#  if(d.status == 1){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="reject" >拒绝</a>
    {{#  } }}
    {{#  if(d.status == 2){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="finish" >完成</a>
    {{#  } }}
</script>

<textarea placeholder="请输入备注" class="layui-textarea" name="desc" style="display:none;margin: 20px;width: 90%;" id="confirm"></textarea>

</body>
</html>
<script src="/layui/layui.all.js"></script>
<script src="/js/core.util.js"></script>
<script>

  var mission_type = "[[${@sysDictService.getType('mission_type')}]]".replace(/&quot;/g,"\"");
  var mission_status = "[[${@sysDictService.getType('mission_status')}]]".replace(/&quot;/g,"\"");
  //获取token
  var token = CoreUtil.getData("access_token");
  //地址栏转义token中的#号
  var tokenQuery = token.replace("#", "%23");
  var tableIns1;
  var table = layui.table;
  var form = layui.form;
  var layer = layui.layer;
  var $ = jQuery = layui.jquery;
  var laydate = layui.laydate;

  layui.use(['table', 'layer', 'laydate'], function () {

    //加载table
    tableIns1 = table.render({
      elem: '#showTable'
      , contentType: 'application/json'
      , headers: {"authorization": token}
      , page: true //开启分页
      , url: '/mission/listByPage' //数据接口
      , method: 'POST'
      , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
        return {
          "code": res.code, //解析接口状态
          "msg": res.msg, //解析提示文本
          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
        }
      }
      , cols: [
        [
          {type: 'checkbox', fixed: 'left'},
          {field: 'id', title: 'id', sort: true, hide: true},
          {field: 'userId', title: '用户id', sort: true, hide: true},
          {field: 'type', width: 120, title: '任务类型', sort: true, templet: function (item) {
                return CoreUtil.selectDictLabel(mission_type, item.type);
            }
          },
          {
            field: 'status', width: 100, title: '状态', sort: true, templet: function (item) {
              return CoreUtil.selectDictLabel(mission_status, item.status);
            }
          },
          {field: 'customerCondition', title: '商家备注', sort: true},
          {field: 'comment', title: '平台回复', sort: true},
          {field: 'productUrl',width: 300, title: '商品链接', sort: true},
          {field: 'amount',width: 100, title: '购买数量', sort: true},
          {field: 'createTime',width: 200, title: '创建时间', sort: true},
          {width: 200, toolbar: "#tool", title: '操作'}
        ]
      ]
      , toolbar: '#toolbar'
    });


    //表头工具
    table.on('toolbar(showTable)', function(obj){
      switch(obj.event){
        case 'batchDeleted':
          var checkStatus = table.checkStatus(obj.config.id);
          var data = checkStatus.data;
          if(data.length==0){
            layer.msg("请选择要批量删除的列");
          }else {
            var ids = [];
            $(data).each(function (index,item) {
              ids.push(item.id);
            });
            tipDialog(ids);
          }
          break;
        case 'add':
          $(".table_div").hide();
          $(".operation").show();
          $(".title").html("新增");
          $(".operation input[name=id]").val("");
          $(".operation input[name=userId]").val("");
          $(".operation input[name=type]").val("");
          $(".operation input[name=status]").val("");
          $(".operation textarea[name=customerCondition]").val("");
          $(".operation input[name=comment]").val("");
          $(".operation input[name=productUrl]").val("");
          $(".operation input[name=amount]").val("");
          $(".operation input[name=createTime]").val("");
          break;
      };
    });
    //列操作
    table.on('tool(showTable)',function (obj) {
      var data = obj.data;
      switch (obj.event) {
        case 'cancel':
          tipDialog(data.id);
          break;
        case 'pass':
          showConfirm(data.id, true);
          break;
        case 'reject':
          showConfirm(data.id, false);
          break;
        case 'finish':
          finish(data.id);
          break;
        case 'edit':
          $(".table_div").hide();
          $(".operation").show();
          $(".title").html("编辑");
          $(".operation input[name=id]").val(data.id);
          $(".operation input[name=userId]").val(data.userId);
          $(".operation input[name=type]").val(data.type);
          $(".operation input[name=status]").val(data.status);
          $(".operation textarea[name=customerCondition]").val(data.customerCondition);
          $(".operation input[name=comment]").val(data.comment);
          $(".operation input[name=productUrl]").val(data.productUrl);
          $(".operation input[name=amount]").val(data.amount);
          $(".operation input[name=createTime]").val(data.createTime);
          break;
      }
    });

    var finish = function (id) {
      layer.open({
        content: '确定要完成吗？',
        yes: function(index, layero){
          layer.close(index); //如果设定了yes回调，需进行手工关闭
          CoreUtil.sendPut("/mission/finish",id,function (res) {
            layer.msg(res.msg, {time:1000},function () {
              search();
            });
          });
        }
      });
    };

    var showConfirm = function (id, isPass) {
      $("#confirm").val("");
      layer.open({
        type: 1,
        area: ['600px', '250px'],
        title: '请填写操作备注'
        , content: $("#confirm"),
        shade: 0,
        btn: ['提交']
        , btn1: function (index, layero) {
          var msg = $("#confirm").val();
          var exportParams = {
            id: id,
            comment: msg
          };
          if(isPass){
            CoreUtil.sendPut("/mission/pass",exportParams,function (res) {
            layer.msg(res.msg, {time:1000},function () {
              search();
              layer.closeAll();
            });
          });
          }else{
            CoreUtil.sendPut("/mission/reject",exportParams,function (res) {
            layer.msg(res.msg, {time:1000},function () {
              search();
              layer.closeAll();
            });
          });
          }
        },
        cancel: function (layero, index) {
          layer.closeAll();
        }
      });
    };

    //导出
    $('#export').on('click', function () {
      //原先分页limit
      var exportParams = {
        limit: 10000,
        key: $("#key").val()
      };
      CoreUtil.sendPost("/mission/listByPage", exportParams, function (res) {
        //初始化渲染数据
        if (res.data != null && res.data.records != null) {
          table.exportFile(tableIns1.config.id, res.data.records, 'xls');
        }
      });
    });

    //删除
    var tipDialog=function (id) {
      layer.open({
        content: "确定要取消么?",
        yes: function(index, layero){
          layer.close(index); //如果设定了yes回调，需进行手工关闭
          CoreUtil.sendPut("/mission/cancel",id,function (res) {
            layer.msg(res.msg, {time:1000},function () {
              search();
            });
          });
        }
      });
    };

    //返回
    $("#btn_cancel").click(function() {
      $(".table_div").show();
      $(".operation").hide();
      return false;
    });

    //监听保存
    form.on('submit(submit)', function(data){
      if(data.field.id===undefined || data.field.id===null || data.field.id===""){
        CoreUtil.sendPost("/mission/add",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          search();
        });
      }else {
        CoreUtil.sendPut("/mission/update",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          search();
        });
      }

      return false;
    });
  });

  //执行查询
  function search() {
    //这里以搜索为例
    tableIns1.reload({
      where: { //设定异步数据接口的额外参数，任意设
        key: $("#key").val()
      }
      , page: {
        curr: 1 //重新从第 1 页开始
      }
    });
  };

</script>